{% extends 'base.html' %}
{% load static %}

{% block title %}Просмотр{% endblock %}

{% block nav %}
    {% if perms.webapp.change_product %}
        <li class="nav-item"><a class="nav-link px-2 text-white" href="{% url 'webapp:product_update' product.pk %}">Изменить</a>
        </li>
    {% endif %}
    {% if perms.webapp.delete_product %}
        <li class="nav-item"><a class="nav-link px-2 text-white"
                                href="{% url 'webapp:product_delete' product.pk %}">Удалить</a></li>
    {% endif %}
    {% if user.is_authenticated %}
     <li class="nav-item"><a class="nav-link px-2 text-white" href="{% url 'webapp:review_create' product.pk %}">Оставить
        отзыв</a>
    {% endif %}
    </li>

{% endblock %}

{% block content %}
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1>{{ product.name }}</h1>
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top" alt="#">
                    {% else %}
                        <img src="{% static 'img/1024px-No_image_available.svg.png' %}" class="card-img-top" alt="#">
                    {% endif %}
                    <p class="card-text">Категория: {{ product.get_category_display }}</p>
                    {% if not reviews %}
                        <p class="card-text">Cредняя оценка: 0 </p>
                    {% else %}
                        <p class="card-text">Cредняя оценка: {{ avg.avg|floatformat:1 }}</p>
                    {% endif %}
                    <pre class="pre">{{ product.description }}</pre>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-6">
            {% include 'partial/reviews.html' %}
        </div>
    </div>

{% endblock %}