<h1>Отзывы</h1>
{% if reviews %}
    {% for review in reviews %}
        <div class="card">
            <div class="card-header">
                автор: {{ review.author }} ({{ review.author.email }})
            </div>
            <div class="card-body">
                <p class="card-text">{{ review.text }}</p>
                <a href="{% url 'webapp:review_update' review.pk %}" class="btn btn-primary">Редактировать отзыв</a>
                <a href="{% url 'webapp:review_delete' review.pk %}" class="btn btn-danger">Удалить отзыв</a>
            </div>
            <div class="card-footer text-muted">
                Оценка: {{ review.rate }}
            </div>
        </div>
        <br>
    {% endfor %}
{% else %}
    <h5>Отзывов пока нет...</h5>
{% endif %}
